<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549443301257-l1m9nvparu0lf6h4tfs4v1e7eqdn6cng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549443301257-l1m9nvparu0lf6h4tfs4v1e7eqdn6cng</string>
	<key>API_KEY</key>
	<string>AIzaSyDyiwdnPZIAbwsJn0axHRf2aU7sNNXE0c8</string>
	<key>GCM_SENDER_ID</key>
	<string>549443301257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.weatherapp</string>
	<key>PROJECT_ID</key>
	<string>actions-codelab-25b05</string>
	<key>STORAGE_BUCKET</key>
	<string>actions-codelab-25b05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549443301257:ios:289e54a73da3eacab27b58</string>
	<key>DATABASE_URL</key>
	<string>https://actions-codelab-25b05.firebaseio.com</string>
</dict>
</plist>